<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>

    <div class="ui inverted segment">
        <div id="nav-div" class="ui inverted secondary pointing menu">
            <a href="/blog" class="left item"><i class="sign out alternate icon">MyBlog</i></a>
            <a href="/blog" class="active item nav-items ">
                <i class="home icon"> </i>
                Home
            </a>
            <a href="/blog/new" class=" item nav-items">
                <i class="plus icon"></i>
                New Post
            </a>
            <a href="#" class="item nav-items"><i class="sign in icon"></i>Login</a>
            <a href="#" class="item nav-items">
                <i class="user icon"></i>
                Sign Up
            </a>
        </div>
    </div>


